h1{
    display:flex;
    justify-content: center;
}
body{
    margin:0;
    padding:0;
}
.par{
    display:flex;
}
.imgdefault{
    display:flex;
}

.nav-item{
    color: white;
    background-color: #2e2a2a;
}
.nav-link{
    color:white !important;
}
.nav-link:active{
    color:white;
    background-color: #04aa6d;
}
#navactive{
    color:white;
    background-color: #04aa6d;
}
.nav-link:hover{
    color: white;
    background-color: #04aa6d;
}
.nav-link a:hover:not(.active){
    color: white !important;
    background-color: #04aa6d !important;
}

